.column {
  background: #ffffff;
  padding: 15px;
  border-radius: 12px;
  height: 100%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06);

  h3 {
    margin-top: 0;
    font-size: 16px;
    font-weight: 600;
  }
}

.drop-area {
  min-height: 300px;
  border-radius: 10px;
  padding: 10px;
  background: #fafafa;
  transition: background 0.2s ease;
}

.drop-area.cdk-drop-list-dragging {
  background: #c4fffabd; /* highlighted when dragging */
}

.card-wrapper {
  cursor: grab;
  margin-bottom: 15px;

  &:active {
    cursor: grabbing;
  }
}
